{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-success">
          <div class="panel-heading">List of Pokemon Species </div>
          {% if app.user != null %}

              <div class="navigation">
            {{ knp_pagination_render(pokemons) }}
          </div>
            <h1>Show Pokemon</h1>
            <ul>
              {% for pokemon in pokemons %}
                <li>
                  {{ pokemon.name }} -
                  <a href="{{ path('pokemon_show', {'id': pokemon.id}) }}"> View Pokemon </a>
                </li>
              {% endfor %}
            </ul>

          {% endif %}
        </div>

        {% if app.user == null %}
          <a href="/login" class="btn btn-info"> You have to login...>></a>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}